.main-title {
  text-align: center;
  font-size: 40px;
}
.content{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.win-title{
  margin-bottom: 20px;
  color: #5075B4;
  text-shadow: 2px 2px 5px #5075B4;
}